.App {
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: azure;
}

.Input_Block{
    display: flex;
}

.Main_Block{
    width: 100%;
    height: 100%;
    display: flex;
}

.Block{
    width: 100%;
    height: 100%;
}

.redColor {
    color: darkred;
}
